*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f0f2f8;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    word-wrap: break-word;
}

body {
align-items: center;
background-color: #fff;
display: flex;
justify-content: center;
height: 100vh;
}

.form-container {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

.submit {
background-color: rgb(12, 12, 12);
border-radius: 12px;
padding: 10px 20px;
box-sizing: border-box;
color: #eee;
cursor: pointer;
font-size: 18px;
height: 50px;
margin-top: 38px;
text-align: center;
width: 100%;
}
.submit:active {
background-color: rgb(8, 8, 8);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    font-size: 1.2em;
    color: #333;
}

