{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changepassword</title>
    <link rel="stylesheet" href="{% static 'css/stauth.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>Welcome {{request.user.username|capfirst}}</h3>
            
            <div class="col">
                <form action="" method="post" novalidate class="shadow">
                    <h2>Change Password</h2>
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small><br>
                    {% endfor %}
                    <button type="submit" class="submit">Submit</button>
                    {% if form.non_field_errors %}
                       {% for error in form.non_field_errors %}
                          <p class="alert">{{error}}</p>
                       {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
   

   </div> 
</body>
</html>