{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/stauth.css' %}">
    
</head>
<body>

    <div class="container">
                <form action="" method="post" novalidate class="shadow">
                    <h2>Register</h2>
                    {% csrf_token %}
                    {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
                    {% endfor %}
                    <input type="submit" value="Submit" class="submit"> <br>

                    <div class="text-primary">
                        <small>Existing User ? <a href="http://127.0.0.1:8000/login/"
                            class="text-danger">Login Now</a>
                        </small>                          
                    </div>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                             <p class="alert">{{error}}</p>
                        {% endfor %}
                    {% endif %}         
                    
                    {% if messages %}
                        {% for msg in messages %}
                             <div class="alert-{{msg.tags}}" role="alert">
                                {{msg}}
                             </div>
                        {% endfor %}
                    {% endif %}    
                </form>
    </div>
</body>
</html>