{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'css/staccsummary.css' %}">
</head>
<style>
    table{
        margin: auto;
        display: block;
    }
</style>
<body>
    <div class="container">
        <div class="cont left">
            <h2>My Account</h2>
            <a href="http://127.0.0.1:8000/summary/">Account Summary</a>
            <h2>Tasks</h2>
            <a href="http://127.0.0.1:8000/upload/">Submit new task</a>
            <a href="http://127.0.0.1:8000/view/">Finished task</a>
            <a href="#">Task error</a>
            <h2>Account Options</h2>
            <a href="http://127.0.0.1:8000/passwordchange/">Change Password</a>
            <a href="http://127.0.0.1:8000/logout/">Logout</a>
        </div>
        <div class="cont right"  style="display:block;" id="summary">
            
            <h1 style="text-align: center; margin: 10px;">User Profile</h1>
            <h3 style="text-align: center; margin: 10px;">Username: {{ user.username }}</h3>
            <h3 style="text-align: center; margin: 10px;">Email: {{ user.email }}</h3>

            <h2>Task overview</h2>
            <table style="margin: auto; display: block; width: 350px;">
                <tr>
                    <td> <h3>Submited tasks</h3></td>
                    <td><input value="{{id.data}}" disabled></td>
               </tr>
               <tr>
                    <td><h3>Finished tasks </h3></td>
                    <td><input value="{{id.data}}" disabled></td>
               </tr>
               <tr>
                   <td><h3>Errors</h3></td>
                   <td><input value="0" disabled></td>
               </tr>
            </table>
        </div>
        
    </div>
    
</body>
</html>
{% if status%}
   <script>
    alert("{{status}}");
   </script>
{% endif %}