{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'css/staccsummary.css' %}">
</head>
<body>
    <div class="container">
        <div class="cont left">
            <h2>My Account</h2>
            <a href="http://127.0.0.1:8000/summary/">Account Summary</a>
            <h2>Tasks</h2>
            <a href="http://127.0.0.1:8000/upload/">Submit new task</a>
            <a href="http://127.0.0.1:8000/view/">Finished task</a>
            <a href="#">Task error</a>
            <h2>Account Options</h2>
            <a href="http://127.0.0.1:8000/passwordchange/">Change Password</a>
            <a href="http://127.0.0.1:8000/logout/">Logout</a>
        </div>
        <div class="cont right"  style="display:block;" id="summary">
            
            <h1 style="text-align: center; margin: 10px;">User Profile</h1>
            <h3 style="text-align: center; margin: 10px;">Username: {{ user.username }}</h3>
            <h3 style="text-align: center; margin: 10px;">Email: {{ user.email }}</h3>

            <h2>Task overview</h2>
            <h3 style="text-align: center; margin-top: 5px; padding: 3px;">Submited tasks<input value="{{id.data}}" disabled></h3>
            <h3 style="text-align: center; margin-top: 5px; padding: 3px;">Finished tasks<input value="{{id.data}}" disabled> </h3>
            <h3 style="text-align: center; margin-top: 5px; padding: 3px;">Errors<input value="0" disabled></h3>
        </div>
        <div class="cont right"  style="display: none;" id="upload">
            
        </div>
    </div>
    
</body>
</html>
{% if status%}
   <script>
    alert("{{status}}");
   </script>
{% endif %}