{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <nav class="nav">
        <img src="Pics/logo.png" alt="Bankist logo" class="nav__logo" id="logo" />
        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" href="{% url 'documentation' %}">Documentation</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="{% url 'visualization' %}">Visualizations</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="{% url 'simulation' %}">Simulation</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#section--4">Concepts</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="https://github.com/DeepaMahm/differential_networks">Github</a>
            </li>
        </ul>
    </nav>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Documentation
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{%static 'js/script.js'%}"></script>
</head>

<body>
    <section class="section" id="section--1">
        <div class="section__title">
            <h2 class="section__description">Documentation</h2>
            <h3 class="section__header">
                Everything you need in a modern life and more.
            </h3>
        </div>
        <!-- Load Font Awesome Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Buttons to choose list or grid view -->

        <h3 class="section__header">

            <div style="background-color:rgba(0, 0, 0, 0.038);">
                <div style="text-align:center"></div>

                User Guide

        </h3>

        <button onclick="listView()"><i class="fa fa-bars"></i> List View </button>
        <button onclick="gridView()"><i class="fa fa-th-large"></i> Grid View </button>

        <div class="row">
            <div class="column" style="background-color:rgb(229, 225, 225);">
                <button class="btn content" onclick="listView()">
                    <h3>Exploring Public Projects</h3>
                </button>

            </div>
            <div class="column" style="background-color:rgb(231, 225, 225);">
                <button class="btn referances" onclick="listView()">
                    <h3>Simulating Projects</h3>
                </button>

            </div>
        </div>

        <div class="row">
            <div class="column" style="background-color:rgb(225, 222, 222);">
                <button class="btn people" onclick="listView()">
                    <h3>Creating Projects</h3>
                </button>

            </div>
            <div class="column" style="background-color:rgb(228, 224, 224);">
                <button class="btn statistics" onclick="listView()">
                    <h3>Creating Vega Data Visualizations</h3>
                </button>

            </div>
            <div class="column" style="background-color:rgb(233, 229, 229);">
                <button class="btn description" onclick="listView()">
                    <h3>Validiating Projects</h3>
                </button>

            </div>
            <div class="column" style="background-color:rgb(236, 232, 232);">
                <button class="btn content" onclick="listView()">
                    <h3>Publishing Projects</h3>
                </button>

            </div>
            <div class="column" style="background-color:rgb(237, 235, 235);">
                <button class="btn referances" onclick="listView()">
                    <h3>Source Model Repositories</h3>
                </button>

            </div>
            <div class="column" style="background-color:rgb(247, 243, 243);">
                <button class="btn people" onclick="listView()">
                    <h3>Finding Simulation Tools</h3>
                </button>

            </div>
        </div>
        <!-- <div class="Documentation">
        <img
          src="digital-lazy.jpg"
          data-src="img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="img/icons.svg#icon-monitor"></use>
            </svg>
          </div> -->

        <h5 class="features__header">Deeper Iterative Tutorials</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias sint quos? Accusantium a fugiat porro reiciendis saepe quibusdam debitis ducimus.
        </p>
        </div>

        <div class="features__feature">
            <div class="features__icon">
                <svg>
                    <use xlink:href="img/icons.svg#icon-trending-up"></use>
                    <img src="Pics/geo.gif" data-src="Pics/geo.gif" alt="Geo" class="features__img geo-img" />
                </svg>
            </div>
            <h5 class="features__header">Example Simulation Projects</h5>
            <p>
                Nesciunt quos autem dolorum voluptates cum dolores dicta fuga inventore ab? Nulla incidunt eius numquam sequi iste pariatur quibusdam!
            </p>
        </div>
        <div class="features__feature">
            <div class="features__icon">
                <svg>
                    <use xlink:href="img/icons.svg#icon-credit-card"></use>
                    <img src="Pics/app_raycaster.gif" data-src="Pics/app_raycaster.gif" alt="Heart"
                        class="features__img app_raycaster-img" />

                    <!-- <img src="card-lazy.jpg" data-src="img/card.jpg" alt="Credit card" class="features__img lazy-img" /> -->

                </svg>
            </div>
            <h5 class="features__header">Documentation for the REST APIs</h5>
            <p>
                Quasi, fugit in cumque cupiditate reprehenderit debitis animi enim eveniet consequatur odit quam quos possimus assumenda dicta fuga inventore ab.
            </p>
        </div>
        </div>

    </section>

</body>

</html>